<?xml version="1.0" ?>
<settings version="1">
    <section id="plugin.video.youtube">
        <category help="" id="general" label="30000">
            <group id="1">
                <setting help="" id="kodion.video.quality" label="30010" type="integer">
                    <level>0</level>
                    <default>3</default>
                    <constraints>
                        <options>
                            <option label="30016">0</option>
                            <option label="30017">1</option>
                            <option label="30011">2</option>
                            <option label="30012">3</option>
                            <option label="30018">4</option>
                        </options>
                    </constraints>
                    <dependencies>
                        <dependency type="enable">
                            <condition operator="is" setting="kodion.video.quality.ask">false</condition>
                        </dependency>
                    </dependencies>
                    <control format="string" type="spinner"/>
                </setting>
                <setting help="" id="kodion.audio_only" label="30607" type="boolean">
                    <level>0</level>
                    <default>false</default>
                    <dependencies>
                        <dependency type="enable">
                            <condition operator="is" setting="kodion.video.quality.ask">false</condition>
                        </dependency>
                    </dependencies>
                    <control type="toggle"/>
                </setting>
                <setting help="" id="kodion.video.quality.ask" label="30009" type="boolean">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting help="" id="kodion.subtitle.configure" label="30600" type="action">
                    <level>0</level>
                    <data>RunPlugin(plugin://plugin.video.youtube/config/subtitles/)</data>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <dependencies>
                        <dependency type="enable">
                            <condition name="InfoBool" on="property">true</condition>
                        </dependency>
                        <dependency type="visible">
                            <condition name="InfoBool" on="property">true</condition>
                        </dependency>
                    </dependencies>
                    <control format="action" type="button">
                        <close>true</close>
                    </control>
                </setting>
                <setting help="" id="kodion.subtitle.languages.num" type="integer">
                    <level>0</level>
                    <default>0</default>
                    <dependencies>
                        <dependency type="visible">
                            <condition name="InfoBool" on="property">false</condition>
                        </dependency>
                    </dependencies>
                    <control format="integer" type="edit">
                        <heading/>
                    </control>
                </setting>
                <setting help="" id="kodion.subtitle.download" type="boolean">
                    <level>0</level>
                    <default>false</default>
                    <dependencies>
                        <dependency type="visible">
                            <condition name="InfoBool" on="property">false</condition>
                        </dependency>
                    </dependencies>
                    <control type="toggle"/>
                </setting>
                <setting help="" id="youtube.suggested_videos" label="30582" type="boolean">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting help="" id="youtube.hide_shorts" label="30736" type="boolean">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting help="" id="kodion.play_count.percent" label="30668" type="integer">
                    <level>0</level>
                    <default>85</default>
                    <constraints>
                        <minimum>1</minimum>
                        <step>1</step>
                        <maximum>99</maximum>
                    </constraints>
                    <dependencies>
                        <dependency type="enable">
                            <condition name="InfoBool" on="property">true</condition>
                        </dependency>
                    </dependencies>
                    <control format="integer" type="slider">
                        <popup>false</popup>
                    </control>
                </setting>
                <setting help="" id="youtube.playlist.watchlater.autoremove" label="30515" type="boolean">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting help="" id="youtube.post.play.rate" label="30627" type="boolean">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting help="" id="youtube.post.play.rate.playlists" label="30712" parent="youtube.post.play.rate" type="boolean">
                    <level>0</level>
                    <default>false</default>
                    <dependencies>
                        <dependency type="enable">
                            <condition operator="is" setting="youtube.post.play.rate">true</condition>
                        </dependency>
                    </dependencies>
                    <control type="toggle"/>
                </setting>
                <setting help="" id="youtube.post.play.refresh" label="30645" type="boolean">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
            </group>
            <group id="2">
                <setting help="" id="kodion.thumbnail.size" label="30591" type="integer">
                    <level>0</level>
                    <default>1</default>
                    <constraints>
                        <options>
                            <option label="30592">0</option>
                            <option label="30593">1</option>
                        </options>
                    </constraints>
                    <control format="string" type="spinner"/>
                </setting>
                <setting help="" id="kodion.fanart.show" label="30021" type="boolean">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting help="" id="youtube.channel.fanart.show" label="30503" type="boolean">
                    <level>0</level>
                    <default>true</default>
                    <dependencies>
                        <dependency type="enable">
                            <condition operator="is" setting="kodion.fanart.show">true</condition>
                        </dependency>
                    </dependencies>
                    <control type="toggle"/>
                </setting>
                <setting help="" id="kodion.content.max_per_page" label="30022" type="integer">
                    <level>0</level>
                    <default>50</default>
                    <constraints>
                        <minimum>5</minimum>
                        <step>5</step>
                        <maximum>50</maximum>
                    </constraints>
                    <control format="integer" type="slider">
                        <popup>false</popup>
                    </control>
                </setting>
                <setting help="" id="kodion.search.size" label="30023" type="integer">
                    <level>0</level>
                    <default>10</default>
                    <constraints>
                        <minimum>0</minimum>
                        <step>10</step>
                        <maximum>200</maximum>
                    </constraints>
                    <control format="integer" type="slider">
                        <popup>false</popup>
                    </control>
                </setting>
                <setting help="" id="kodion.safe.search" label="30594" type="integer">
                    <level>0</level>
                    <default>0</default>
                    <constraints>
                        <options>
                            <option label="30595">0</option>
                            <option label="30561">1</option>
                            <option label="30596">2</option>
                        </options>
                    </constraints>
                    <control format="string" type="spinner"/>
                </setting>
                <setting help="" id="kodion.age.gate" label="30603" type="boolean">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
            </group>
        </category>
        <category help="" id="mpeg-dash" label="30617">
            <group id="1">
                <setting help="" id="kodion.video.quality.mpd" label="30007" type="boolean">
                    <level>0</level>
                    <default>false</default>
                    <dependencies>
                        <dependency type="enable">
                            <condition name="InfoBool" on="property">System.HasAddon(inputstream.adaptive)</condition>
                        </dependency>
                    </dependencies>
                    <control type="toggle"/>
                </setting>
                <setting help="" id="kodion.video.quality.mpd.configure" label="30008" type="action">
                    <level>0</level>
                    <data>RunPlugin(plugin://plugin.video.youtube/config/mpd/)</data>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <dependencies>
                        <dependency type="enable">
                            <condition operator="is" setting="kodion.video.quality.mpd">true</condition>
                        </dependency>
                    </dependencies>
                    <control format="action" type="button">
                        <close>true</close>
                    </control>
                </setting>
            </group>
            <group id="2" label="30723">
                <setting help="" id="kodion.mpd.videos" label="30688" type="boolean">
                    <level>0</level>
                    <default>true</default>
                    <dependencies>
                        <dependency type="enable">
                            <condition operator="is" setting="kodion.video.quality.mpd">true</condition>
                        </dependency>
                    </dependencies>
                    <control type="toggle"/>
                </setting>
                <setting help="" id="kodion.mpd.quality.selection" label="30010" parent="kodion.mpd.videos" type="integer">
                    <level>0</level>
                    <default>8</default>
                    <constraints>
                        <options>
                            <option label="30016">0</option>
                            <option label="30017">1</option>
                            <option label="30011">2</option>
                            <option label="30012">3</option>
                            <option label="30013">4</option>
                            <option label="30725">5</option>
                            <option label="30014">6</option>
                            <option label="30015">7</option>
                            <option label="30727">8</option>
                            <option label="30728">9</option>
                        </options>
                    </constraints>
                    <dependencies>
                        <dependency type="enable">
                            <condition operator="is" setting="kodion.mpd.videos">true</condition>
                        </dependency>
                    </dependencies>
                    <control format="string" type="spinner"/>
                </setting>
                <setting help="" id="kodion.mpd.hdr" label="30722" parent="kodion.mpd.quality.selection" type="boolean">
                    <level>0</level>
                    <default>false</default>
                    <dependencies>
                        <dependency type="enable">
                            <and>
                                <condition operator="is" setting="kodion.mpd.videos">true</condition>
                                <condition operator="!is" setting="kodion.mpd.quality.selection">8</condition>
                            </and>
                        </dependency>
                    </dependencies>
                    <control type="toggle"/>
                </setting>
                <setting help="" id="kodion.mpd.limit.30" label="30724" parent="kodion.mpd.hdr" type="boolean">
                    <level>0</level>
                    <default>false</default>
                    <dependencies>
                        <dependency type="enable">
                            <and>
                                <condition operator="is" setting="kodion.mpd.videos">true</condition>
                                <condition operator="is" setting="kodion.mpd.hdr">false</condition>
                                <condition operator="!is" setting="kodion.mpd.quality.selection">8</condition>
                                <condition operator="!is" setting="kodion.mpd.quality.selection">9</condition>
                            </and>
                        </dependency>
                    </dependencies>
                    <control type="toggle"/>
                </setting>
            </group>
            <group id="3" label="30690">
                <setting help="" id="kodion.mpd.live_streams" label="30689" type="boolean">
                    <level>0</level>
                    <default>true</default>
                    <dependencies>
                        <dependency type="enable">
                            <condition operator="is" setting="kodion.video.quality.mpd">true</condition>
                        </dependency>
                    </dependencies>
                    <control type="toggle"/>
                </setting>
            </group>
            <group id="4">
                <setting help="" id="kodion.install.inputstreamhelper" label="30623" type="action">
                    <level>0</level>
                    <data>RunPlugin(plugin://plugin.video.youtube/maintain/inputstreamhelper/install/)</data>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <dependencies>
                        <dependency type="enable">
                            <condition operator="is" setting="kodion.video.quality.mpd">true</condition>
                        </dependency>
                    </dependencies>
                    <control format="action" type="button"/>
                </setting>
            </group>
        </category>
        <category help="" id="folders" label="30516">
            <group id="1">
                <setting help="" id="youtube.folder.sign.in.show" label="30111" type="boolean">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting help="" id="youtube.folder.my_subscriptions.show" label="30510" type="boolean">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting help="" id="youtube.folder.my_subscriptions_filtered.show" label="30584" type="boolean">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting help="" id="youtube.filter.my_subscriptions_filtered.blacklist" label="30586" parent="youtube.folder.my_subscriptions_filtered.show" type="boolean">
                    <level>0</level>
                    <default>false</default>
                    <dependencies>
                        <dependency type="enable">
                            <condition operator="is" setting="youtube.folder.my_subscriptions_filtered.show">true</condition>
                        </dependency>
                        <dependency type="visible">
                            <condition operator="is" setting="youtube.folder.my_subscriptions_filtered.show">true</condition>
                        </dependency>
                    </dependencies>
                    <control type="toggle"/>
                </setting>
                <setting help="" id="youtube.filter.my_subscriptions_filtered.list" label="30585" parent="youtube.filter.my_subscriptions_filtered.blacklist" type="string">
                    <level>0</level>
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <dependencies>
                        <dependency type="enable">
                            <condition operator="is" setting="youtube.folder.my_subscriptions_filtered.show">true</condition>
                        </dependency>
                        <dependency type="visible">
                            <condition operator="is" setting="youtube.folder.my_subscriptions_filtered.show">true</condition>
                        </dependency>
                    </dependencies>
                    <control format="string" type="edit">
                        <heading>30585</heading>
                    </control>
                </setting>
                <setting help="" id="youtube.folder.recommendations.show" label="30551" type="boolean">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting help="" id="youtube.folder.popular_right_now.show" label="30513" type="boolean">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting help="" id="youtube.folder.search.show" label="30102" type="boolean">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting help="" id="youtube.folder.quick_search.show" label="30605" type="boolean">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting help="" id="youtube.folder.quick_search_incognito.show" label="30606" type="boolean">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting help="" id="youtube.folder.my_location.show" label="30654" type="boolean">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting help="" id="youtube.folder.my_channel.show" label="30507" type="boolean">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting help="" id="youtube.folder.purchases.show" label="30622" type="boolean">
                    <level>0</level>
                    <default>true</default>
                    <dependencies>
                        <dependency type="visible">
                            <condition name="InfoBool" on="property">false</condition>
                        </dependency>
                    </dependencies>
                    <control type="toggle"/>
                </setting>
                <setting help="" id="youtube.folder.watch_later.show" label="30107" type="boolean">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting help="" id="youtube.folder.watch_later.playlist" label="30037" parent="youtube.folder.watch_later.show" type="string">
                    <level>0</level>
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <dependencies>
                        <dependency type="enable">
                            <condition operator="is" setting="youtube.folder.watch_later.show">true</condition>
                        </dependency>
                        <dependency type="visible">
                            <condition operator="is" setting="youtube.folder.watch_later.show">true</condition>
                        </dependency>
                    </dependencies>
                    <control format="string" type="edit">
                        <heading>30037</heading>
                    </control>
                </setting>
                <setting help="" id="youtube.folder.liked_videos.show" label="30508" type="boolean">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting help="" id="youtube.folder.disliked_videos.show" label="30538" type="boolean">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting help="" id="youtube.folder.history.show" label="30509" type="boolean">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting help="" id="youtube.folder.history.playlist" label="30038" parent="youtube.folder.history.show" type="string">
                    <level>0</level>
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <dependencies>
                        <dependency type="enable">
                            <condition operator="is" setting="youtube.folder.history.show">true</condition>
                        </dependency>
                        <dependency type="visible">
                            <condition operator="is" setting="youtube.folder.history.show">true</condition>
                        </dependency>
                    </dependencies>
                    <control format="string" type="edit">
                        <heading>30038</heading>
                    </control>
                </setting>
                <setting help="" id="youtube.folder.playlists.show" label="30501" type="boolean">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting help="" id="youtube.folder.saved.playlists.show" label="30611" type="boolean">
                    <level>0</level>
                    <default>true</default>
                    <dependencies>
                        <dependency type="visible">
                            <condition name="InfoBool" on="property">false</condition>
                        </dependency>
                    </dependencies>
                    <control type="toggle"/>
                </setting>
                <setting help="" id="youtube.folder.subscriptions.show" label="30504" type="boolean">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting help="" id="youtube.folder.browse_channels.show" label="30512" type="boolean">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting help="" id="youtube.folder.completed.live.show" label="30647" type="boolean">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting help="" id="youtube.folder.upcoming.live.show" label="30646" type="boolean">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting help="" id="youtube.folder.live.show" label="30539" type="boolean">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting help="" id="youtube.folder.switch.user.show" label="30655" type="boolean">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting help="" id="youtube.folder.sign.out.show" label="30112" type="boolean">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting help="" id="youtube.folder.settings.show" label="30577" type="boolean">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
            </group>
        </category>
        <category help="" id="users" label="30660">
            <group id="1">
                <setting help="" id="kodion.users.add" label="30661" type="action">
                    <level>0</level>
                    <data>RunPlugin(plugin://plugin.video.youtube/users/add/?refresh=false)</data>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control format="action" type="button"/>
                </setting>
                <setting help="" id="kodion.users.remove" label="30662" type="action">
                    <level>0</level>
                    <data>RunPlugin(plugin://plugin.video.youtube/users/remove/?refresh=false)</data>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control format="action" type="button"/>
                </setting>
                <setting help="" id="kodion.users.rename" label="30663" type="action">
                    <level>0</level>
                    <data>RunPlugin(plugin://plugin.video.youtube/users/rename/?refresh=false)</data>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control format="action" type="button"/>
                </setting>
                <setting help="" id="kodion.users.switch" label="30664" type="action">
                    <level>0</level>
                    <data>RunPlugin(plugin://plugin.video.youtube/users/switch/?refresh=false)</data>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control format="action" type="button"/>
                </setting>
            </group>
        </category>
        <category help="" id="advanced" label="30031">
            <group id="1">
                <setting help="" id="youtube.client.selection" label="30737" type="integer">
                    <level>0</level>
                    <default>0</default>
                    <constraints>
                        <options>
                            <option label="30532">0</option>
                            <option label="30738">1</option>
                            <option label="30739">2</option>
                        </options>
                    </constraints>
                    <control format="string" type="spinner"/>
                </setting>
                <setting help="" id="simple.requests.ssl.verify" label="30578" type="boolean">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting help="" id="kodion.support.alternative_player" label="30036" type="boolean">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting help="" id="kodion.alternative_player.web.urls" label="30704" parent="kodion.support.alternative_player" type="boolean">
                    <level>0</level>
                    <default>false</default>
                    <dependencies>
                        <dependency type="enable">
                            <condition operator="is" setting="kodion.support.alternative_player">true</condition>
                        </dependency>
                    </dependencies>
                    <control type="toggle"/>
                </setting>
                <setting help="" id="youtube.view.description.show_channel_name" label="30541" type="boolean">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
            </group>
            <group id="2">
                <setting help="" id="kodion.playback.history" label="30675" type="boolean">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
            </group>
            <group id="3">
                <setting help="" id="kodion.cache.size" label="30024" type="integer">
                    <level>0</level>
                    <default>10</default>
                    <constraints>
                        <minimum>5</minimum>
                        <step>1</step>
                        <maximum>100</maximum>
                    </constraints>
                    <control format="integer" type="slider">
                        <popup>false</popup>
                    </control>
                </setting>
                <setting help="" id="kodion.setup_wizard" label="30025" type="boolean">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
            </group>
            <group id="4">
                <setting help="" id="youtube.language" label="30523" type="string">
                    <level>0</level>
                    <default>en-US</default>
                    <dependencies>
                        <dependency type="enable">
                            <condition name="InfoBool" on="property">false</condition>
                        </dependency>
                    </dependencies>
                    <control format="string" type="edit">
                        <heading>30523</heading>
                    </control>
                </setting>
                <setting help="" id="youtube.region" label="30550" type="string">
                    <level>0</level>
                    <default>US</default>
                    <dependencies>
                        <dependency type="enable">
                            <condition name="InfoBool" on="property">false</condition>
                        </dependency>
                    </dependencies>
                    <control format="string" type="edit">
                        <heading>30550</heading>
                    </control>
                </setting>
                <setting help="" id="youtube.location" label="30651" type="string">
                    <level>0</level>
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <dependencies>
                        <dependency type="enable">
                            <condition name="InfoBool" on="property">true</condition>
                        </dependency>
                    </dependencies>
                    <control format="string" type="edit">
                        <heading>30651</heading>
                    </control>
                </setting>
                <setting help="" id="youtube.location.radius" label="30652" type="integer">
                    <level>0</level>
                    <default>500</default>
                    <constraints>
                        <minimum>1</minimum>
                        <step>1</step>
                        <maximum>1000</maximum>
                    </constraints>
                    <dependencies>
                        <dependency type="enable">
                            <condition name="InfoBool" on="property">true</condition>
                        </dependency>
                    </dependencies>
                    <control format="integer" type="slider">
                        <popup>false</popup>
                    </control>
                </setting>
            </group>
        </category>
        <category help="" id="http server" label="30628">
            <group id="1">
                <setting help="" id="kodion.http.listen" label="30643" type="string">
                    <level>0</level>
                    <default>0.0.0.0</default>
                    <dependencies>
                        <dependency type="enable">
                            <condition name="InfoBool" on="property">true</condition>
                        </dependency>
                    </dependencies>
                    <control format="ip" type="edit">
                        <heading>30643</heading>
                    </control>
                </setting>
                <setting help="" id="kodion.http.listen.select" label="30644" type="action">
                    <level>0</level>
                    <data>RunPlugin(plugin://plugin.video.youtube/config/listen_ip/)</data>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control format="action" type="button">
                        <close>true</close>
                    </control>
                </setting>
                <setting help="" id="kodion.mpd.proxy.port" label="30619" type="integer">
                    <level>0</level>
                    <default>50152</default>
                    <dependencies>
                        <dependency type="enable">
                            <condition name="InfoBool" on="property">true</condition>
                        </dependency>
                    </dependencies>
                    <control format="integer" type="edit">
                        <heading>30619</heading>
                    </control>
                </setting>
                <setting help="" id="kodion.http.ip.whitelist" label="30629" type="string">
                    <level>0</level>
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <dependencies>
                        <dependency type="enable">
                            <condition name="InfoBool" on="property">true</condition>
                        </dependency>
                    </dependencies>
                    <control format="string" type="edit">
                        <heading>30629</heading>
                    </control>
                </setting>
                <setting help="" id="kodion.http.client.ip" label="30698" type="action">
                    <level>0</level>
                    <data>RunPlugin(plugin://plugin.video.youtube/show_client_ip/)</data>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control format="action" type="button"/>
                </setting>
            </group>
        </category>
        <category help="" id="api" label="30200">
            <group id="1">
                <setting help="" id="youtube.api.key" label="30201" type="string">
                    <level>0</level>
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control format="string" type="edit">
                        <heading>30201</heading>
                    </control>
                </setting>
                <setting help="" id="youtube.api.id" label="30202" type="string">
                    <level>0</level>
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control format="string" type="edit">
                        <heading>30202</heading>
                    </control>
                </setting>
                <setting help="" id="youtube.api.secret" label="30203" type="string">
                    <level>0</level>
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control format="string" type="edit">
                        <heading>30203</heading>
                    </control>
                </setting>
                <setting help="" id="youtube.allow.dev.keys" label="30608" type="boolean">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
            </group>
            <group id="2" label="30633">
                <setting help="" id="youtube.api.config.page" label="30632" type="boolean">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
            </group>
        </category>
        <category help="" id="maintenance" label="30552">
            <group id="1">
                <setting help="" id="kodion.maintain.clear.func" label="30555" type="action">
                    <level>0</level>
                    <data>RunPlugin(plugin://plugin.video.youtube/maintain/function_cache/clear/)</data>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control format="action" type="button"/>
                </setting>
                <setting help="" id="kodion.maintain.clear.data" label="30686" type="action">
                    <level>0</level>
                    <data>RunPlugin(plugin://plugin.video.youtube/maintain/data_cache/clear/)</data>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control format="action" type="button"/>
                </setting>
                <setting help="" id="kodion.maintain.clear.search" label="30556" type="action">
                    <level>0</level>
                    <data>RunPlugin(plugin://plugin.video.youtube/maintain/search_cache/clear/)</data>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control format="action" type="button"/>
                </setting>
                <setting help="" id="kodion.maintain.clear.playback.history" label="30671" type="action">
                    <level>0</level>
                    <data>RunPlugin(plugin://plugin.video.youtube/maintain/playback_history/clear/)</data>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control format="action" type="button"/>
                </setting>
            </group>
            <group id="2">
                <setting help="" id="kodion.maintain.delete.func" label="30553" type="action">
                    <level>0</level>
                    <data>RunPlugin(plugin://plugin.video.youtube/maintain/function_cache/delete/)</data>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control format="action" type="button"/>
                </setting>
                <setting help="" id="kodion.maintain.delete.data" label="30685" type="action">
                    <level>0</level>
                    <data>RunPlugin(plugin://plugin.video.youtube/maintain/data_cache/delete/)</data>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control format="action" type="button"/>
                </setting>
                <setting help="" id="kodion.maintain.delete.search" label="30554" type="action">
                    <level>0</level>
                    <data>RunPlugin(plugin://plugin.video.youtube/maintain/search_cache/delete/)</data>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control format="action" type="button"/>
                </setting>
                <setting help="" id="kodion.maintain.delete.playback.history" label="30672" type="action">
                    <level>0</level>
                    <data>RunPlugin(plugin://plugin.video.youtube/maintain/playback_history/delete/)</data>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control format="action" type="button"/>
                </setting>
            </group>
            <group id="3">
                <setting help="" id="kodion.maintain.reset.accessmanager" label="30580" type="action">
                    <level>0</level>
                    <data>RunPlugin(plugin://plugin.video.youtube/maintain/access_manager/reset/)</data>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control format="action" type="button">
                        <close>true</close>
                    </control>
                </setting>
            </group>
            <group id="4">
                <setting help="" id="kodion.maintain.delete.settings" label="30559" type="action">
                    <level>0</level>
                    <data>RunPlugin(plugin://plugin.video.youtube/maintain/settings_xml/delete/)</data>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control format="action" type="button">
                        <close>true</close>
                    </control>
                </setting>
                <setting help="" id="kodion.maintain.delete.api_keys" label="30641" type="action">
                    <level>0</level>
                    <data>RunPlugin(plugin://plugin.video.youtube/maintain/api_keys/delete/)</data>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control format="action" type="button"/>
                </setting>
                <setting help="" id="kodion.maintain.delete.access_manager" label="30642" type="action">
                    <level>0</level>
                    <data>RunPlugin(plugin://plugin.video.youtube/maintain/access_manager/delete/)</data>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control format="action" type="button"/>
                </setting>
                <setting help="" id="kodion.maintain.delete.temp" label="30626" type="action">
                    <level>0</level>
                    <data>RunPlugin(plugin://plugin.video.youtube/maintain/temp_files/delete/)</data>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control format="action" type="button"/>
                </setting>
                <setting help="" id="kodion.access_token" label="" type="string">
                    <level>0</level>
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <dependencies>
                        <dependency type="visible">
                            <condition name="InfoBool" on="property">false</condition>
                        </dependency>
                    </dependencies>
                    <control format="string" type="edit">
                        <heading/>
                    </control>
                </setting>
                <setting help="" id="kodion.refresh_token" label="" type="string">
                    <level>0</level>
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <dependencies>
                        <dependency type="visible">
                            <condition name="InfoBool" on="property">false</condition>
                        </dependency>
                    </dependencies>
                    <control format="string" type="edit">
                        <heading/>
                    </control>
                </setting>
                <setting help="" id="kodion.access_token.expires" label="" type="integer">
                    <level>0</level>
                    <default>0</default>
                    <dependencies>
                        <dependency type="visible">
                            <condition name="InfoBool" on="property">false</condition>
                        </dependency>
                    </dependencies>
                    <control format="integer" type="edit">
                        <heading/>
                    </control>
                </setting>
                <setting help="" id="youtube.api.last.hash" label="" type="string">
                    <level>0</level>
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <dependencies>
                        <dependency type="visible">
                            <condition name="InfoBool" on="property">false</condition>
                        </dependency>
                    </dependencies>
                    <control format="string" type="edit">
                        <heading/>
                    </control>
                </setting>
            </group>
        </category>
    </section>
</settings>
