<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>

    <!-- kodion General -->
    <category label="30000">
        <setting id="kodion.video.quality" type="enum" label="30010" enable="eq(2,false)" lvalues="30016|30017|30011|30012|30018" default="3"/>
        <setting id="kodion.audio_only" type="bool" label="30607" enable="eq(1,false)" default="false"/>
        <setting id="kodion.video.quality.ask" type="bool" label="30009" default="false"/>
        <setting id="kodion.subtitle.configure" type="action" label="30600" enable="true" visible="true" option="close" action="RunPlugin(plugin://$ID/config/subtitles/)"/>
        <setting id="kodion.subtitle.languages.num" type="number" default="0" visible="false"/>
        <setting id="kodion.subtitle.download" type="bool" default="false" visible="false"/>
        <setting id="youtube.suggested_videos" type="bool" label="30582" default="false"/>
        <setting id="kodion.play_count.percent" type="slider" label="30668" enable="true" default="85" range="1,1,99" option="int"/>
        <setting id="youtube.playlist.watchlater.autoremove" type="bool" label="30515" default="true" />
        <setting id="youtube.post.play.rate" type="bool" label="30627" default="false" />
        <setting id="youtube.post.play.rate.playlists" type="bool" label="30712" default="false" subsetting="true" enable="eq(-1,true)" />
        <setting id="youtube.post.play.refresh" type="bool" label="30645" default="false" />
        <setting type="sep" />
        <setting id="kodion.thumbnail.size" type="enum" label="30591" lvalues="30592|30593" default="1" />
        <setting id="kodion.fanart.show" type="bool" label="30021" default="true"/>
        <setting id="youtube.channel.fanart.show" type="bool" label="30503" enable="eq(-1,true)" default="true"/>
        <setting id="kodion.content.max_per_page" type="enum" label="30022" values="5|10|15|20|25|30|35|40|45|50" default="9" />
        <setting label="30023" type="slider" id="kodion.search.size" default="10" range="0,10,200" option="int" />
        <setting id="kodion.safe.search" type="enum" label="30594" lvalues="30595|30561|30596" default="0" />
        <setting id="kodion.age.gate" type="bool" label="30603" default="true"/>
    </category>

    <!-- mpeg-dash -->
    <category label="30617">
        <setting id="kodion.video.quality.mpd" type="bool" label="30007" default="false" enable="System.HasAddon(inputstream.adaptive)"/>
        <setting id="kodion.video.quality.mpd.configure" type="action" label="30008" enable="eq(-1,true)" option="close" action="RunPlugin(plugin://$ID/config/mpd/)"/>
        <setting type="lsep" label="30723"/>
        <setting id="kodion.mpd.videos" type="bool" label="30688" default="true" enable="eq(-3,true)"/>
        <setting id="kodion.mpd.hdr" type="bool" label="30722" default="false" enable="eq(-1,true)" subsetting="true"/>
        <setting id="kodion.mpd.limit.30" type="bool" label="30724" default="false" enable="eq(-2,true)+eq(-1,false)" subsetting="true"/>
        <setting id="kodion.mpd.quality.selection" type="enum" label="30010" default="4" lvalues="30016|30017|30011|30012|30013|30725|30014|30015" enable="eq(-3,true)" subsetting="true"/>
        <setting type="lsep" label="30690"/>
        <setting id="kodion.mpd.live_streams" type="bool" label="30689" default="true" enable="eq(-8,true)"/>
        <setting type="sep"/>
        <setting id="kodion.install.inputstreamhelper" type="action" label="30623" action="RunPlugin(plugin://$ID/maintain/inputstreamhelper/install/)" enable="eq(-10,true)"/>
    </category>

    <!-- folders -->
    <category label="30516">
        <setting id="youtube.folder.sign.in.show" type="bool" label="30111" default="true"/>
        <setting id="youtube.folder.my_subscriptions.show" type="bool" label="30510" default="true"/>
        <setting id="youtube.folder.my_subscriptions_filtered.show" type="bool" label="30584" default="false"/>
        <setting id="youtube.filter.my_subscriptions_filtered.blacklist" type="bool" label="30586" default="false"
                 enable="eq(-1,true)" visible="eq(-1,true)" subsetting="true"/>
        <setting id="youtube.filter.my_subscriptions_filtered.list" type="text" label="30585" enable="eq(-2,true)"
                 visible="eq(-2,true)" default="" subsetting="true"/>
        <setting id="youtube.folder.recommendations.show" type="bool" label="30551" default="true"/>
        <setting id="youtube.folder.popular_right_now.show" type="bool" label="30513" default="true"/>
        <setting id="youtube.folder.search.show" type="bool" label="30102" default="true"/>
        <setting id="youtube.folder.quick_search.show" type="bool" label="30605" default="false"/>
        <setting id="youtube.folder.quick_search_incognito.show" type="bool" label="30606" default="false"/>
        <setting id="youtube.folder.my_location.show" type="bool" label="30654" default="true"/>
        <setting id="youtube.folder.my_channel.show" type="bool" label="30507" default="true"/>
        <setting id="youtube.folder.purchases.show" type="bool" label="30622" default="true"/>
        <setting id="youtube.folder.watch_later.show" type="bool" label="30107" default="true"/>
        <setting id="youtube.folder.watch_later.playlist" type="text" label="30037" enable="eq(-1,true)"
                 visible="eq(-1,true)" default="" subsetting="true"/>
        <setting id="youtube.get.watch_later.playlist.id" type="action" label="30613"
                 action="RunPlugin(plugin://$ID/watch_later/playlist_id/)"
                 option="close" enable="eq(-2,true)" visible="eq(-2,true)" subsetting="true"/>
        <setting id="youtube.folder.liked_videos.show" type="bool" label="30508" default="true"/>
        <setting id="youtube.folder.disliked_videos.show" type="bool" label="30538" default="true"/>
        <setting id="youtube.folder.history.show" type="bool" label="30509" default="true"/>
        <setting id="youtube.folder.history.playlist" type="text" label="30038" enable="eq(-1,true)"
                 visible="eq(-1,true)" default="" subsetting="true"/>
        <setting id="youtube.folder.playlists.show" type="bool" label="30501" default="true"/>
        <setting id="youtube.folder.saved.playlists.show" type="bool" label="30611" default="true"/>
        <setting id="youtube.folder.subscriptions.show" type="bool" label="30504" default="true"/>
        <setting id="youtube.folder.browse_channels.show" type="bool" label="30512" default="true"/>
        <setting id="youtube.folder.completed.live.show" type="bool" label="30647" default="true"/>
        <setting id="youtube.folder.upcoming.live.show" type="bool" label="30646" default="true"/>
        <setting id="youtube.folder.live.show" type="bool" label="30539" default="true"/>
        <setting id="youtube.folder.switch.user.show" type="bool" label="30655" default="true"/>
        <setting id="youtube.folder.sign.out.show" type="bool" label="30112" default="true"/>
        <setting id="youtube.folder.settings.show" type="bool" label="30577" default="true"/>
    </category>

    <!-- users -->
    <category label="30660">
        <setting id="kodion.users.add" type="action" label="30661" action="RunPlugin(plugin://$ID/users/add/?refresh=false)"/>
        <setting id="kodion.users.remove" type="action" label="30662" action="RunPlugin(plugin://$ID/users/remove/?refresh=false)"/>
        <setting id="kodion.users.rename" type="action" label="30663" action="RunPlugin(plugin://$ID/users/rename/?refresh=false)"/>
        <setting id="kodion.users.switch" type="action" label="30664" action="RunPlugin(plugin://$ID/users/switch/?refresh=false)"/>
    </category>

    <!-- advanced -->
    <category label="30031">
        <setting id="simple.requests.ssl.verify" type="bool" label="30578" default="true"/>
        <setting id="kodion.support.alternative_player" type="bool" label="30036" default="false"/>
        <setting id="kodion.alternative_player.web.urls" type="bool" label="30704" default="false" subsetting="true" enable="eq(-1,true)"/>
        <setting id="youtube.view.description.show_channel_name" type="bool" label="30541" default="true"/>
        <setting type="sep" />
        <setting id="kodion.playback.history" type="bool" label="30675" default="false"/>
        <setting type="sep" />
        <setting id="kodion.cache.size" type="slider" label="30024" default="10" range="5,1,100" option="int"/>
        <setting id="kodion.setup_wizard" type="bool" label="30025" default="true"/>
        <setting type="sep" />
        <setting id="youtube.language" type="text" label="30523" enable="false" default="en-US"/>
        <setting id="youtube.region" type="text" label="30550" enable="false" default="US"/>
        <setting id="youtube.location" type="text" label="30651" enable="true" default=""/>
        <setting id="youtube.location.radius" type="slider" label="30652" enable="true" default="500" range="1,1,1000" option="int"/>
    </category>

    <!-- http server -->
    <category label="30628">
        <setting id="kodion.http.listen" type="ipaddress" label="30643" default="0.0.0.0" enable="true"/>
        <setting id="kodion.http.listen.select" type="action" label="30644" action="RunPlugin(plugin://$ID/config/listen_ip/)" option="close"/>
        <setting id="kodion.mpd.proxy.port" type="number" label="30619" default="50152" enable="true"/>
        <setting id="kodion.http.ip.whitelist" type="text" label="30629" enable="true"/>
        <setting id="kodion.http.client.ip" type="action" label="30698" action="RunPlugin(plugin://$ID/show_client_ip/)"/>
    </category>

    <!-- personal api key -->
    <category label="30200">
        <setting id="youtube.api.enable" type="bool" label="30204" default="false"/>
        <setting id="youtube.api.key" type="text" label="30201" default="" visible="eq(-1,true)"/>
        <setting id="youtube.api.id" type="text" label="30202" default="" visible="eq(-2,true)"/>
        <setting id="youtube.api.secret" type="text" label="30203" default="" visible="eq(-3,true)"/>
        <setting id="youtube.api.key.switch" type="enum" label="30205" values="0|1|2|3|4|5" visible="eq(-4,false)" default="1"/>
        <setting id="youtube.allow.dev.keys" type="bool" label="30608" default="true"/>
        <setting id="youtube.api.config.address" type="lsep" label="30633" visible="eq(1,true)"/>
        <setting id="youtube.api.config.page" type="bool" label="30632" default="false"/>
    </category>

    <!-- Maintenance -->
    <category label="30552">
        <setting id="kodion.maintain.clear.func" type="action" label="30555" action="RunPlugin(plugin://$ID/maintain/function_cache/clear/)"/>
        <setting id="kodion.maintain.clear.data" type="action" label="30686" action="RunPlugin(plugin://$ID/maintain/data_cache/clear/)"/>
        <setting id="kodion.maintain.clear.search" type="action" label="30556" action="RunPlugin(plugin://$ID/maintain/search_cache/clear/)"/>
        <setting id="kodion.maintain.clear.playback.history" type="action" label="30671" action="RunPlugin(plugin://$ID/maintain/playback_history/clear/)"/>
        <setting type="sep" />
        <setting id="kodion.maintain.delete.func" type="action" label="30553" action="RunPlugin(plugin://$ID/maintain/function_cache/delete/)"/>
        <setting id="kodion.maintain.delete.data" type="action" label="30685" action="RunPlugin(plugin://$ID/maintain/data_cache/delete/)"/>
        <setting id="kodion.maintain.delete.search" type="action" label="30554" action="RunPlugin(plugin://$ID/maintain/search_cache/delete/)"/>
        <setting id="kodion.maintain.delete.playback.history" type="action" label="30672" action="RunPlugin(plugin://$ID/maintain/playback_history/delete/)"/>
        <setting type="sep" />
        <setting id="kodion.maintain.reset.accessmanager" type="action" label="30580" action="RunPlugin(plugin://$ID/maintain/access_manager/reset/)" option="close"/>
        <setting type="sep" />
        <setting id="kodion.maintain.delete.settings" type="action" label="30559" option="close" action="RunPlugin(plugin://$ID/maintain/settings_xml/delete/)"/>
        <setting id="kodion.maintain.delete.api_keys" type="action" label="30641" action="RunPlugin(plugin://$ID/maintain/api_keys/delete/)"/>
        <setting id="kodion.maintain.delete.access_manager" type="action" label="30642" action="RunPlugin(plugin://$ID/maintain/access_manager/delete/)"/>
        <setting id="kodion.maintain.delete.temp" type="action" label="30626" action="RunPlugin(plugin://$ID/maintain/temp_files/delete/)"/>
    </category>

</settings>
