name: Add-on Validations

on:
  push:
    branches: [ master, main ]

  pull_request:
    branches: [ master, main ]

jobs:
  addon-validations:
    runs-on: ubuntu-latest
    name: Add-on Validations

    steps:
      - name: Checkout Add-on
        uses: actions/checkout@v2
        with:
          path: ${{ github.event.repository.name }}

      - name: Checkout kodi-addon-checker
        uses: actions/checkout@v2
        with:
          repository: xbmc/addon-check
          path: addon-check

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install addon-check/

      - name: Staging
        run: |
          rm -rf LICENSES/
        working-directory: ${{ github.event.repository.name }}

      - name: Kodi Add-on Checker
        id: kodi-addon-checker
        run: |
          kodi-addon-checker ${{ github.event.repository.name }} --branch=isengard
